
body{
	background-color: #FBFBFB;
	font: 'NanumSquareOTF';
	margin: 0 5% 0 0;
		}

	.pp{
		font-size: 14px;
		margin-left: 5%;
	}
	
	.ss{
		font-size: 20px;
		margin-left: 8%;


	}
	.cc{
		font-size: 12px;
		color: #5c5c5c;
		margin-left: 85%;
		transform: translateY(-190%);
	}