body{
			background-color: #FBFBFB;
			font: 'NanumSquareOTF';
		}

		section{
			margin: 20px 0;
			text-align: center;
			margin-left: auto; margin-right: auto;
			}

		.col{
			background: #F1F2F8;
			text-align: center;
			border-radius: 7px;
			flex: 1;
			margin: 5px;
			padding: 22% 0;
			}

		.cul{
			background: #F1F2F8;
			border-radius: 7px;
			margin: 5px;
			padding: 3% 0;

		}

		.rewe{
			background-color: #fff;
			border: 1px; 
			border-bg-color : #959595;
			border-style: solid;
			border-radius: 20px;
			text-align: center;
			align-content: center;
			padding: 5px;
			margin-left: auto; 
			margin-right: auto;
			justify-content: center; 
			align-items: center;
		}

		.deo{
			text-align: center;
			align-content: center;
			padding: 0 3%;
			margin-left: auto; 
			margin-right: auto;
			justify-content: center; 
			align-items: center;
		}

		.cn{
    	display:flex;
    	flex-wrap: wrap;
    	flex-direction:column;
    	justify-content:center;
    	align-items:center;
    	padding:2%;
		}
		
		.cn>div{
		    flex:1;
		}
		.cn>.pay{
		    display:flex;
		    justify-content:center;
		    align-items:center;
		    color:#fafafa;
		    margin-right:auto;
		    margin-bottom:2%;
		}
		.cn>.pay>span{
		    background-color:#4f5788;
		    border-radius:50px;
		    font-size:16px;
		    padding:5px;
		}
		.cn>img{
		    flex:2;
		    width:70%;
		    height:100%;
		}
		.af{
		    display:flex;
		    justify-content:center;
		    align-items:center;
		}


		.cab{
		    position:relative;
		}
		.cab>p{
		    position:absolute;
		    bottom:0px;
		    left:50%;
		    transform:translateX(-50%);
		}


		

		
				