body{
			background-color: #FBFBFB;
			font: 'NanumSquareOTF';
		}

		section{
			margin: 20px 0;
			text-align: center;
			margin-left: auto; margin-right: auto;
			}

		.col{
			background: #F1F2F8;
			text-align: center;
			border-radius: 7px;
			flex: 1;
			margin: 5px;
			padding: 22% 0;
			}

		.cul{
			background: #F1F2F8;
			border-radius: 7px;
			margin: 5px;
			padding: 3% 0;

		}

		.rewe{
			background-color: #fff;
			border: 1px; 
			border-bg-color : #959595;
			border-style: solid;
			border-radius: 20px;
			text-align: center;
			align-content: center;
			padding: 5px;
			margin-left: auto; 
			margin-right: auto;
			justify-content: center; 
			align-items: center;
		}

		.deo{
			text-align: center;
			align-content: center;
			padding: 0 3%;
			margin-left: auto; 
			margin-right: auto;
			justify-content: center; 
			align-items: center;
		}

		.cn{
    	display:flex;
    	flex-wrap: wrap;
    	flex-direction:column;
    	justify-content:center;
    	align-items:center;
    	padding:2%;
		}
		
		.cn>div{
		    flex:1;
		}
		.cn>.pay{
		    display:flex;
		    justify-content:center;
		    align-items:center;
		    color:#fafafa;
		    margin-right:auto;
		    margin-bottom:2%;
		}
		.cn>.pay>span{
		    background-color:#4f5788;
		    border-radius:50px;
		    font-size:16px;
		    padding:5px;
		}
		.cn>img{
		    flex:2;
		    width:70%;
		    height:100%;
		}
		.af{
		    display:flex;
		    justify-content:center;
		    align-items:center;
		}


		.cab{
		    position:relative;
		}
		.cab>p{
		    position:absolute;
		    bottom:0px;
		    left:50%;
		    transform:translateX(-50%);
		}
		.hasam{
			color: #000;
			font-size: 18px;
			line-height: 21px;
			flex: 1;
		}
		.dhksfy{
			background-color: #4F5788;
			color: #F1F2F8;
			font-size: 16px;
			width: 55px;
			margin: 10px 0;
			padding-top: 10px;
			max-height: 40px;
			border-radius: 10px;
			text-align: center;
			align-items: center;
			justify-items: center;
		}
		.jaechok{
			background-color: #f1f2f8;
			border-radius: 31px;
			color: #000;
			font-size: 16px;
			position: relative;
			top: 38%;
			padding: 10px; 
			max-width: 210px;
			max-height: 37px;
			text-align: center;
			left: 20%;
		}
		.ok{
			background-color: #AEB7EC;
			color: #000;
			font-size: 20px;
			border-radius: 15px;
			position: relative;
			top: 41%;
			padding: 15px 0px;
			max-width: 342px;
			max-height: 70px;
			text-align: center;
			left: 4%;

		}

		

		
				